main {
  display: grid;
  grid-template-columns: 1fr 1fr;

  background-image: url("background.svg");
  background-repeat: no-repeat;
  background-size: 1fr;

  @media screen and (max-width: 800px) {
    display: flex;
    background-image: none;
    background: linear-gradient(90deg, #2356CB 0%, #3973A2 116.76%);
  }
}

.sideLeft {
  padding: 10rem 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1rem;

  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 2.25rem;
    color: var(--white);
  }

  h3 {
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 1.5rem;
    color: var(--white);
  }

  button {
    background: #56CB23;
  }
}