.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: var(--light-gray);
  gap: 1rem;

  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: var(--deep-blue);

    strong {
      font-style: bold;
    }
  }
}


.reasons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  position: relative;

  .reason {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 1rem;
    border: 2px solid var(--blue);
    border-radius: 15px;

    max-width: 722px;
    min-height: 170px;

    h1 {
      padding: 0 1rem;
      font-family: Roboto;
      font-size: 6rem;
      color: var(--blue);
    }

    div {
      font-family: Roboto;
      font-style: normal;

      span {
        font-weight: 600;
        font-size: 1.5rem;
        color: var(--dark-blue);
      }

      p{
        font-size: 1rem;
        color: var(--dark-blue);
      }
    }

  }

  .r1 {
    position: absolute;
  }

  .r2{
    position: absolute;
    top: 202px;
    left: 10vw;
  }

  .r3 {
    position: absolute;
    top: 404px;
    left: 30vw;
  }

  .r4 {
    position: absolute;
    top: 606px;
    left: 50vw;
  }

  @media screen and (max-width: 920px) {
    .r1, .r2, .r3, .r4 {
      position: static;
    }
  }
  
}