.main {
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background: var(--light-gray);
  
  h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 2rem;
    color: var(--deep-blue);

    strong {
      font-style: bold;
    }
  }
}